:root {
  --bg-gradient: linear-gradient(267.21deg, #900793 0.16%, rgba(134, 4, 137, 0.785707) 0.16%, rgba(159, 12, 162, 0.762269) 43.22%, rgba(5, 1, 190, 0.734375) 98.12%, rgba(0, 28, 126, 0.619792) 100.15%, rgba(6, 77, 142, 0.447917) 102.03%, rgba(1, 0, 60, 0) 102.73%);
  --text-color: #2b2839;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  color: var(--text-color);
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
  cursor: pointer;
}

// svg path {
// 	fill:inherit;
// 	stroke:inherit;
// }

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.d-flex {
  display: flex;
}

.show {
  display: block;
}

.hide {
  display: none;
}