.filters {
  max-width: 280px;
  width: 100%;
  height: fit-content;
  margin-right: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(178, 178, 178, 0.25);

  &__title {
    padding: 15px 37px 10px;
    font-size: 16px;
    line-height: 19px;
    border-bottom: 1px solid #f8f8f8;
  }

  &__inner {
    padding: 15px 30px 20px;
  }
}
